<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<br><br><br>
<h2><b>Register your details</b></h2><br>
<div class="form2">
<input type="text" ng-model="fname" placeholder="Full name" />
<input type="text" ng-model="uname" placeholder="Username" />
<input type="text" ng-model="upwd" placeholder="Password" />
<input type="submit" value="REGISTER" ng-click="register(fname,uname,upwd)"/><br>
<input type="submit" value="HOME" ng-click="home()"/>
</div>

</body>
</html>